---
dependency:
  name: galaxy
  options:
    requirements-file: ../../molecule_requirements.yml

driver:
  name: docker

platforms:
  - name: el9-lifecycle
    image: geerlingguy/docker-rockylinux9-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: "${MOLECULE_PROJECT_DIRECTORY}/../../../"
  playbooks:
    converge: converge.yml
    verify: verify.yml

verifier:
  name: ansible
