---
- name: Install noVNC package
  ansible.builtin.dnf:
    name: novnc
    state: present

- name: Remove legacy configurations
  block:
    - name: Remove legacy single-instance noVNC service
      ansible.builtin.file:
        path: /etc/systemd/system/novnc.service
        state: absent

    - name: Remove old novnc@.service template (now managed by create_vm)
      ansible.builtin.file:
        path: /etc/systemd/system/novnc@.service
        state: absent
