---
- name: Ensure UEFI firmware is available
  ansible.builtin.import_tasks: firmware.yml

- name: Create VM disk images
  ansible.builtin.import_tasks: disk.yml

- name: Configure per-VM TPM emulation
  ansible.builtin.import_tasks: tpm.yml

- name: Configure VM networking
  ansible.builtin.import_tasks: network.yml
