{{ ansible_managed | comment }}
[Unit]
Description=Software TPM 2.0 for VM %i
Before=qemu-vm@%i.service

[Service]
Type=simple
User={{ create_vm_service_user }}
Group={{ create_vm_service_group }}
ExecStart=/usr/bin/swtpm socket \
  --tpmstate dir={{ create_vm_swtpm_state_dir }}/%i \
  --ctrl type=unixio,path={{ create_vm_swtpm_state_dir }}/%i/swtpm.sock \
  --tpm2 \
  --log level=1
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
