---
driver:
  name: docker
platforms:
  - name: create-vm-disk-image
    image: "geerlingguy/docker-rockylinux${EL_VERSION:-9}-ansible:latest"
    command: ""
    privileged: true
    pre_build_image: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    tmpfs:
      - /run
      - /tmp
provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: "${MOLECULE_PROJECT_DIRECTORY}/.."
verifier:
  name: ansible
