---
# Playbook that sets up a QEMU/KVM host with noVNC enabled.
# Usage:
#   ansible-playbook -i inventory.yml novnc_qemu_host.yml
- name: Configure QEMU/KVM hosts with noVNC
  hosts: qemu_hosts_novnc
  become: true
  roles:
    - role: basalt.qemu.qemu_host
      vars:
        qemu_host_novnc_enabled: true
        # qemu_host_novnc_version: "v1.5.0"
        # qemu_host_novnc_vms:
        #   - name: web01
        #     novnc_port: 6080
        #     vnc_target: localhost:5900
        #   - name: db01
        #     novnc_port: 6081
        #     vnc_target: localhost:5901
