{{ ansible_managed | comment }}
{% set _fmt = item.disk_format | default(vms_default_disk_format) %}
{% set _memory = item.memory | default(vms_default_memory) %}
{% set _cpus = item.cpus | default(vms_default_cpus) %}
{% set _uefi = item.uefi | default(vms_default_uefi) %}
{% set _secure_boot = item.secure_boot | default(vms_default_secure_boot) %}
{% set _tpm = item.tpm | default(vms_default_tpm) %}
{% set _net_mode = item.net_mode | default(vms_default_net_mode) %}
{% set _mac = item.mac_address | default('52:54:00:' ~ (item.name | hash('md5'))[0:2] ~ ':' ~ (item.name | hash('md5'))[2:4] ~ ':' ~ (item.name | hash('md5'))[4:6]) %}
{% set _args = [] %}
{% set _ = _args.append('-name ' ~ item.name) %}
{% if _secure_boot %}
{% set _ = _args.append('-machine q35,accel=kvm,smm=on') %}
{% else %}
{% set _ = _args.append('-machine q35,accel=kvm') %}
{% endif %}
{% set _ = _args.append('-m ' ~ _memory) %}
{% set _ = _args.append('-smp ' ~ _cpus) %}
{% set _ = _args.append('-cpu host') %}
{% set _ = _args.append('-nographic') %}
{% set _vnc = item.vnc | default((item.name | hash('md5') | int(base=16)) % 100) %}
{% set _ = _args.append('-vnc :' ~ _vnc) %}
{% set _ = _args.append('-monitor unix:/var/lib/qemu/' ~ item.name ~ '/monitor.sock,server,nowait') %}
{% set _ = _args.append('-drive if=virtio,format=' ~ _fmt ~ ',file=' ~ vms_image_dir ~ '/' ~ item.name ~ '.' ~ _fmt) %}
{% if item.cloud_init_user_data is defined or item.cloud_init_meta_data is defined or item.cloud_init_network_config is defined %}
{% set _ = _args.append('-drive if=virtio,format=raw,file=' ~ vms_image_dir ~ '/' ~ item.name ~ '-seed.iso,media=cdrom,readonly=on') %}
{% endif %}
{% if item.usb_disk_image is defined and item.usb_disk_image %}
{% set _usb_image = item.usb_disk_image %}
{% set _usb_image_lower = _usb_image | lower %}
{% if _usb_image_lower.endswith('.qcow2') %}
{% set _usb_fmt = 'qcow2' %}
{% else %}
{% set _usb_fmt = 'raw' %}
{% endif %}
{% set _usb_boot_priority = item.usb_boot_priority | default(true) %}
{% set _ = _args.append('-device qemu-xhci,id=xhci') %}
{% set _ = _args.append('-drive if=none,id=usb0,format=' ~ _usb_fmt ~ ',file=' ~ _usb_image) %}
{% if _usb_boot_priority %}
{% set _ = _args.append('-device usb-storage,drive=usb0,bootindex=1') %}
{% else %}
{% set _ = _args.append('-device usb-storage,drive=usb0') %}
{% endif %}
{% endif %}
{% if _uefi %}
{% if _secure_boot %}
{% set _ = _args.append('-drive if=pflash,format=raw,readonly=on,file=' ~ vms_ovmf_code_secboot) %}
{% set _ = _args.append('-drive if=pflash,format=raw,file=' ~ vms_image_dir ~ '/' ~ item.name ~ '_VARS.fd') %}
{% set _ = _args.append('-global driver=cfi.pflash01,property=secure,value=on') %}
{% else %}
{% set _ = _args.append('-drive if=pflash,format=raw,readonly=on,file=' ~ vms_ovmf_code) %}
{% set _ = _args.append('-drive if=pflash,format=raw,file=' ~ vms_image_dir ~ '/' ~ item.name ~ '_VARS.fd') %}
{% endif %}
{% endif %}
{% if _tpm %}
{% set _ = _args.append('-chardev socket,id=chrtpm,path=' ~ vms_swtpm_state_dir ~ '/' ~ item.name ~ '/swtpm.sock') %}
{% set _ = _args.append('-tpmdev emulator,id=tpm0,chardev=chrtpm') %}
{% set _ = _args.append('-device tpm-tis,tpmdev=tpm0') %}
{% endif %}
{% if _net_mode == 'user' %}
{% set _ = _args.append('-nic user,model=virtio-net-pci,mac=' ~ _mac) %}
{% elif _net_mode == 'bridge' %}
{% set _bridge = item.net_bridge | default(vms_default_net_bridge) %}
{% set _ = _args.append('-netdev bridge,id=net0,br=' ~ _bridge) %}
{% set _ = _args.append('-device virtio-net-pci,netdev=net0,mac=' ~ _mac) %}
{% endif %}
QEMU_ARGS="{{ _args | join(' ') }}"
