{{ ansible_managed | comment }}
[Unit]
Description=noVNC websocket proxy
After=network.target

[Service]
Type=simple
ExecStart={{ qemu_host_novnc_install_dir }}/utils/novnc_proxy --listen {{ qemu_host_novnc_listen_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
