{{ ansible_managed | comment }}
[Unit]
Description=noVNC websocket proxy for %i
After=network.target qemu-vm@%i.service

[Service]
Type=simple
EnvironmentFile={{ qemu_host_vm_config_dir }}/novnc-%i.conf
ExecStart={{ qemu_host_novnc_install_dir }}/utils/novnc_proxy --listen ${NOVNC_PORT} --vnc ${VNC_TARGET}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
