{{ ansible_managed | comment }}
[Unit]
Description=Software TPM 2.0 for VM %i
Before=qemu-vm@%i.service

[Service]
Type=simple
User={{ qemu_host_service_user }}
Group={{ qemu_host_service_group }}
ExecStart=/usr/bin/swtpm socket \
  --tpmstate dir={{ qemu_host_swtpm_state_dir }}/%i \
  --ctrl type=unixio,path={{ qemu_host_swtpm_state_dir }}/%i/swtpm.sock \
  --tpm2 \
  --log level=1
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
